mixin crearProyecto(proyecto = {})
  form.agregar-proyecto(action=`/nuevo-proyecto/${proyecto.id || ""}` method="POST")
    .campo
      label(for="nombre") Nombre Proyecto:
      input(value=proyecto.nombre type="text" name="nombre" placeholder="Nombre Proyecto")#nombre
    .campo.enviar
      input(type="submit" value=`${proyecto.nombre ? "Guardar" : "Agregar"}`).boton
