<!DICTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/app.css")
    title #{nombrePagina}
  body
    header.barra
      h1 UpTask - Administrador de Proyectos
      a(href="#") Cerrar Sesión
    
    main.contenedor
      aside.contenedor-proyectos
        .panel.crear-proyecto
          a(href="/nuevo-proyecto").boton Nuevo Proyecto
            span +
            
        .panel.lista-proyectos
          h2 Proyectos
          ul#proyectos.proyectos
            if (proyectos.length) 
              each proyecto in proyectos
                li 
                  a(href=`/proyectos/${proyecto.url}`)= proyecto.nombre
      block contenido
      
      script(src='/dist/bundle.js')
      //pre= vardump(proyectos)
