extends layout

block contenido
  .contenido-principal
    h1 #{nombrePagina} - #{proyecto.nombre}
    
    
    // TODO - Formulario acá
    
    // TODO - Listado pendientes
    //pre= vardump(proyecto)    
    
    // TODO - Acciones permitidas
    .contenedor-acciones
      a(href=`/proyecto/editar/${proyecto.id}`).boton Editar Proyecto
      button(data-proyecto-url=proyecto.url type="button")#eliminar-proyecto.boton.eliminar Eliminar Proyecto
